@model IEnumerable<IdeaWeb.Models.Category>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="button green --jb-modal">Create New</a>
</p>
<div class="card has-table">
      <header class="card-header">
        <p class="card-header-title">
          <span class="icon"><i class="mdi mdi-account-multiple"></i></span>
          Category
        </p>
        <a href="#" class="card-header-icon">
          <span class="icon"><i class="mdi mdi-reload"></i></span>
        </a>
      </header>
      <div class="card-content">
        <table>
          
          <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Deleted_Status)
            </th>
            <th></th>
        </tr>
    
          </thead>
          <tbody>
            @foreach (var item in Model) {
          <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Deleted_Status)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="button blue --jb-modal"><i class="mdi mdi-square-edit-outline"></i></a> |
                <a asp-action="Details" asp-route-id="@item.Id" class="button blue --jb-modal"><i class="mdi mdi-eye"></i></a> |
                <a asp-action="Delete" asp-route-id="@item.Id" class="button red --jb-modal"><i class="mdi mdi-trash-can"></i></a>
            </td>
          </tr>    
            }   
          </tbody>
        </table>
        <div class="table-pagination">
          <div class="flex items-center justify-between">
            <div class="buttons">
              <button type="button" class="button active">1</button>
              <button type="button" class="button">2</button>
              <button type="button" class="button">3</button>
            </div>
            <small>Page 1 of 3</small>
          </div>
        </div>
      </div>
    </div>
