@model IEnumerable<IdeaWeb.Models.Category>

@{
  ViewData["Title"] = "Index";
  
  Pager pager = new Pager();
  int pageNo = 0;

  if (ViewBag.Pager != null)
  {
    pager = ViewBag.Pager;
    pageNo = pager.CurrentPage;
  }
  var role = Context.Session.GetString("_Role") != null ? Context.Session.GetString("_Role") : null;
  string message = "You do not have permission to access this page";
    if (role == "Staff"){
     <script>
        alert("@message");
        window.location.href = "https://localhost:7188/User/login";
    </script>
  }
}


<form asp-controller="Category" asp-action="Search" method="get">
    <p>
        <input type="text" name="query" />
       <button type="submit" class="button green --jb-modal">Search</button>
    </p>
</form>
<p>
    <a asp-action="Create" class="button green --jb-modal">Create New</a>
</p>
<div class="card has-table">
      <header class="card-header">
        <p class="card-header-title">
          <span class="icon"><i class="mdi mdi-account-multiple"></i></span>
          Category
        </p>
        <a href="#" class="card-header-icon">
          <span class="icon"><i class="mdi mdi-reload"></i></span>
        </a>
      </header>
      <div class="card-content">
        <table>

          <thead>
        <tr>
            <th>
            @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
            @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
            @Html.DisplayNameFor(model => model.Deleted_Status)
            </th>
            <th></th>
        </tr>

          </thead>
          <tbody>
        @foreach (var item in Model)
        {
              <tr>
                <td>
              @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
              @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
              @Html.DisplayFor(modelItem => item.Deleted_Status)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="button blue --jb-modal"><i class="mdi mdi-square-edit-outline"></i></a> 
                    <a asp-action="Details" asp-route-id="@item.Id" class="button blue --jb-modal"><i class="mdi mdi-eye"></i></a> 
                    <a asp-action="Delete" asp-route-id="@item.Id" class="button red --jb-modal"><i class="mdi mdi-trash-can"></i></a>
                </td>
              </tr>    
        }   
          </tbody>
        </table>
          <div class="flex items-center justify-between">
      @if (pager.TotalPages > 0)
      {
                    <div>
          @for (var pge = pager.StartPage; pge <= pager.EndPage; pge++)
          {
                              <a type="button" class="button" style="color: black" asp-controller="Category" asp-action="Index" asp-route-pg="@pge">@pge</a>
          }
                    </div>
      }
          </div>
        </div>
      </div>
    </div>
    
