@model IEnumerable<IdeaWeb.Models.User>

@{
    ViewData["Title"] = "Index";
}


<p>
    <a asp-action="Create" class="button green --jb-modal">Create New</a>
    <span class="text-danger">@ViewBag.ErrorMessage</span>
</p>
<div class="card has-table">
      <header class="card-header">
        <p class="card-header-title">
          <span class="icon"><i class="mdi mdi-account-multiple"></i></span>
          User
        </p>
        <a href="#" class="card-header-icon">
          <span class="icon"><i class="mdi mdi-reload"></i></span>
        </a>
      </header>
      <div class="card-content">
<table>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dob)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
            <th>
                Verification 
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dob)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @{
                    if(item.flag == 1){
                        @Html.Raw("<span class='button green --jb-modal'>Verified</span>")
                    }
                    else{
                        @Html.Raw("<span class='button red --jb-modal'>Unverified</span>")
                    }
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id" class="button blue --jb-modal"><i class="mdi mdi-square-edit-outline"></i></a> |
                <a asp-action="Details" asp-route-id="@item.id" class="button blue --jb-modal"><i class="mdi mdi-eye"></i></a> |
                <a asp-action="Delete" asp-route-id="@item.id" class="button red --jb-modal"><i class="mdi mdi-trash-can"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
