@model IEnumerable<IdeaWeb.Models.UserRole>

@{
    ViewData["Title"] = "Index";
     Pager pager = new Pager();
  int pageNo = 0;

  if (ViewBag.Pager != null)
  {
    pager = ViewBag.Pager;
    pageNo = pager.CurrentPage;
  }
            var role = Context.Session.GetString("_Role") != null ? Context.Session.GetString("_Role") : null;
  string message = "You do not have permission to access this page";
    if (role != "Admin"){
     <script>
        alert("@message");
        window.location.href = "https://localhost:7188/User/login";
    </script>
  }
}

<form asp-controller="User" asp-action="Search" method="get">
    <p>
        <input type="text" name="query" />
       <button type="submit" class="button green --jb-modal">Search</button>
    </p>
</form>
<p style="margin-bottom: 15px;">
    <a asp-action="Create" class="button green --jb-modal">Create New</a>
    <span class="text-danger">@ViewBag.ErrorMessage</span>
</p>
<div class="card has-table">
      <header class="card-header">
        <p class="card-header-title">
          <span class="icon"><i class="mdi mdi-account-multiple"></i></span>
          User
        </p>
        <a href="#" class="card-header-icon">
          <span class="icon"><i class="mdi mdi-reload"></i></span>
        </a>
      </header>
      <div class="card-content">
<table>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.user.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.user.phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.user.dob)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.user.email)
            </th>
            <th>
                Verification 
            </th>
            <th>
                @Html.DisplayNameFor(model => model.user.Department)
            </th>
            <th>
                UserRole
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.user.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.user.phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.user.dob)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.user.email)
            </td>
            <td>
                @{
                    if(item.user.flag == 1){
                        @Html.Raw("<span class='button green --jb-modal'>Verified</span>")
                    }
                    else{
                        @Html.Raw("<span class='button red --jb-modal'>Unverified</span>")
                    }
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.user.Department.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.roles.name) 
            </td>
            

            <td>
                <a asp-action="Edit" asp-route-id="@item.userId" class="button blue --jb-modal"><i class="mdi mdi-square-edit-outline"></i></a> |
                <a asp-controller="UserRole" asp-action="Edit" asp-route-id="@item.id" class="button blue --jb-modal">EDIT ROLE</a>
                <a asp-action="Details" asp-route-id="@item.userId" class="button blue --jb-modal"><i class="mdi mdi-eye"></i></a> |
                <a asp-action="Delete" asp-route-id="@item.userId" class="button red --jb-modal"><i class="mdi mdi-trash-can"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
          <div class="flex items-center justify-between">
      @if (pager.TotalPages > 0)
      {
                    <div class="buttons">
          @for (var pge = pager.StartPage; pge <= pager.EndPage; pge++)
          {
                              <a type="button" class="button active" style="color: black" asp-controller="User" asp-action="Index" asp-route-pg="@pge">@pge</a>
          }
                    </div>
      }
          </div>