@model IEnumerable<IdeaWeb.Models.Idea>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="button small green --jb-modal">Create New</a>
</p>
<div class="card has-table">
      <header class="card-header">
        <p class="card-header-title">
          <span class="icon"><i class="mdi mdi-account-multiple"></i></span>
          Idea
        </p>
        <a href="#" class="card-header-icon">
          <span class="icon"><i class="mdi mdi-reload"></i></span>
        </a>
      </header>
      <div class="card-content">
<table >
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Like_Count)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dislike_Count)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comments)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date_Upload)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Like_Count)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dislike_Count)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date_Upload)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comments)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="button small blue --jb-modal">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id" class="button small blue --jb-modal">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id" class="button small red --jb-modal">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
