@model IEnumerable<IdeaWeb.Models.Idea>

@{
    ViewData["Title"] = "Index";
    Pager pager = new Pager();
  int pageNo = 0;

  if (ViewBag.Pager != null)
  {
    pager = ViewBag.Pager;
    pageNo = pager.CurrentPage;
  }
}

<form asp-controller="Idea" asp-action="Search" method="get">
    <p class="flex w-0.5 mx-auto">
        <input type="text" name="query" class="grow border-radius-8 h-51" style = "border: 1px #d5d1d1 solid;" />
        <button type="submit" class="btn btn-success ml-14 border-radius-12 text-14 fw-500">Search</button>
    </p>
</form>
<br>
<p style="margin-bottom: 15px;">
    <a asp-action="Create" class="button green --jb-modal">Create New</a>
</p>

<div class="card has-table">
      <header class="card-header">
        <p class="card-header-title">
          <span class="icon"><i class="mdi mdi-account-multiple"></i></span>
          Idea
        </p>
        <a href="#" class="card-header-icon">
          <span class="icon"><i class="mdi mdi-reload"></i></span>
        </a>
      </header>
      <div class="card-content">
        <table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                Like
            </th>
            <th>
                Dislike
            </th>
            <th>
                @Html.DisplayNameFor(model => model.File)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date_Upload)
            </th>
            <th>
                Acedamic
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Like_Count)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dislike_Count)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.File)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Image)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date_Upload)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CloseDateAcedamic.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="button blue --jb-modal"><i class="mdi mdi-square-edit-outline"></i></a> 
                <a asp-action="Details" asp-route-id="@item.Id"class="button blue --jb-modal"><i class="mdi mdi-eye"></i></a> 
                <a asp-action="Delete" asp-route-id="@item.Id"class="button red --jb-modal"><i class="mdi mdi-trash-can"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
<div class="flex items-center justify-between" style="justify-content: center;">
      @if (pager.TotalPages > 0)
      {
        <div>
          @for (var pge = pager.StartPage; pge <= pager.EndPage; pge++)
          {
            
                <a type="button" class="button break-page" asp-controller="Idea" asp-action="Index" asp-route-pg="@pge">@pge</a>
            
          }
        </div>
      }
</div>
        </div>
        </div>



