@model IdeaWeb.Models.Idea
@{
  Pager pager = new Pager();
  @* IEnumerable<T> enumerablePager = (IEnumerable<T>)pager; *@
  int pageNo = 0;

  if (ViewBag.Pager != null)
  {
    pager = ViewBag.Pager;
    pageNo = pager.CurrentPage;
  }
}
<div class="visit-country">
  <div class="container">
    <div class="row">
      <div class="col-lg-9">
        <div class="section-heading" style="margin-bottom: 0">
          <h2>Share and receive everyone's ideas</h2>
          <p>
            Sharing ideas can lead to new and creative solutions to problems.
            This can lead to improved products, services and processes, which
            can benefit everyone involved.
          </p>
        </div>
      </div>
    </div>

    <div class="link">
      <p>@Html.DisplayFor(model => model.Name)</p>
    </div>
    <div class="row">
      <div class="col-lg-10" style="margin: auto">
        <div class="items mb-0 pb-0">
          <div class="row">
            <div class="col-lg-12">
              <div class="item mb-0 pb-0" style="border-bottom: 0px">
                <div class="row">
                  <div class="col-lg-6 col-sm-7">
                    <div class="image">
                      <img src="~/Image/@Html.DisplayFor(model => model.Image)" alt="" />
                    </div>
                  </div>
                  <div class="col-lg-6 col-sm-5">
                    <div class="right-content">

                      <span class="p-20 text-14">Author : @Html.DisplayFor(model => model.User.name)</span>
                      <span class="p-20 text-14">Category : @Html.DisplayFor(model => model.Category.Name)</span>
                      <span class="p-20 text-14">Deparment : @Html.DisplayFor(model => model.User.Department.Name)
                      </span>
                      <span class="p-20 text-14">Close Date : @Html.DisplayFor(model =>
                        model.CloseDateAcedamic.CloseDatePostIdea)</span>
                      @if (Model.UserId == ViewBag.UserId)
                      {
                        <span class="p-20 text-14"> Edit Your Idea : <a asp-action="UserEditIdea"
                          asp-route-id="@ViewBag.id"><i class="fas fa-edit"></i></a></span>
                      }

                      <span class="p-20 text-14"> Download Document : <a asp-action="DocumentDownload"
                          asp-route-id="@ViewBag.id"><i class="fa-solid fa-download"> </i></a></span>
                    </div>
                  </div>
                </div>
                <hr />
                <p style="text-align: justify">
                  @Html.DisplayFor(model => model.Content)
                </p>
                <ul class="index-items">
                  <li><i class="fa-regular fa-comment pr-15"></i>Comment : @ViewBag.commentCount</li>
                  <li>
                    <a href="#" class="like-button" data-item-id="@ViewBag.id"><i
                        class="fa-regular fa-thumbs-up pr-15"></i></a>
                    
                    <span id="like-count-1">@Model.Like_Count</span>
                  </li>
                  <li>
                    <a href="#" class="dislike-button" data-item-id="@ViewBag.id"><i
                        class="fa-regular fa-thumbs-up pr-15"></i></a>
                    
                    <span id="like-count-2">@Model.Dislike_Count</span>
                  </li>
                  @if (Model.UserId == ViewBag.UserId)
                  {
                    <li><a asp-action="UserDelete" asp-route-id="@ViewBag.id"><i class="fa-solid fa-trash"></i></a></li>
                  }

                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="comments">
          <form asp-controller="Comment" asp-action="Create">
            <select name="status" style="margin-bottom:20px">
              <option value=0>Public</option>
              <option value=1>Stay anonymous</option>
            </select>
            <input type="hidden" name="ideaId" value="@ViewBag.id" />
            <textarea placeholder="Enter your comment"
              style=" width:100%;height:100px;border-radius:10px;padding:20px;border:#b1b1b1 2px solid;margin-bottom:20px;"
              asp-for="Content"></textarea>
            <input type="submit" class="btn btn-primary btn-user btn-block"
              style="margin-left: auto; margin-right: auto; margin-bottom: 20px;" value="Comment" />
          </form>
          @{
            foreach (var item in ViewBag.comment)
            {
              <div class="comment">
                <div class="comment-infor">
                  <div class="flex space-between bold" style="align-items: center">
                    <div class="flex" style="align-items: center">

                      @if (item.Status == 0)
                      {
                        <p class="text-14">@item.user.name</p>
                      }
                      else
                      {
                        <p class="text-14">Anonymous</p>
                      }
                    </div>
                    <time class="text-14">@item.Date_Upload @{
                        if (item.userId == ViewBag.UserId)
                        {
                          <a href="/Comment/Userdelete/@item.Id"><i class="fa-solid fa-trash"></i></a>
                        }
                      } </time>
                  </div>
                </div>
                <p style="text-align: justify;" class="text-14">
                  @item.Content
                </p>
              </div>
            }
            <div class="button">
              @for (var pge = pager.StartPage; pge <= ViewBag.commentCount / 2 - 1; pge++)
              {
                <a type="button" class="btn btn-info" asp-controller="Idea" asp-action="UserViewIdea"
              asp-route-pg="@pge">@pge</a>
              }
            </div>
          }
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $('.like-button').on('click', function (e) {
    e.preventDefault();
    var itemId = parseInt($(this).data('item-id'));
    var span = $('#like-count-1')
    var span_2 = $('#like-count-2')
    $.ajax({
      url: '/Rating/AddLike',
      data: { id: itemId },
      dataType: "json",
      type: "POST",
      success: function (response) {
        span.text(response.like);
        span_2.text(response.dis_like);
      }
    });
  });
</script>
<script>
  $('.dislike-button').on('click', function (e) {
    e.preventDefault();
    var itemId = parseInt($(this).data('item-id'));
    var span = $('#like-count-1')
    var span_2 = $('#like-count-2')
    console.log(itemId);
    $.ajax({
      url: '/Rating/AddDislike',
      data: { id: itemId },
      dataType: "json",
      type: "POST",
      success: function (response) {
        span.text(response.like);
        span_2.text(response.dis_like);
      }
    });
  });
</script>